{% extends 'layout.html.twig' %}

{% block title %}
  {{ libelle | capitalize }}
{% endblock %}

{% block content %}
{# {{dump(global.request.get('libelleCategorie'))}} #}
<div class="row">
    <!--colleft-->
    {% if not articlesCategorie == null %}
    <div class="col-md-8 col-sm-12">
        <div class="box-caption">
            <span>{{ libelle }}</span>
            <!-- <span>
            {#{{ global.request.get('libelleCategorie') }}#}
            </span> -->

        </div>
        <!--list-news-cate-->
        <div class="list-news-cate">
          {% for article in articlesCategorie %}
                    <article class="news-cate-item">
                        <div class="row">
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <a href="{{ url('technews_article', {'libelleCategorie': article.LIBELLECATEGORIE | lower, 'slugArticle': article.TITREARTICLE | slugify, 'idArticle': article.IDARTICLE}) }}">
                                    <img alt="{{ article.TITREARTICLE }}" src="{{ asset('assets/images/product/' ~ article.FEATUREDIMAGEARTICLE) }}">
                                </a>
                            </div>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <h3><a href="{{ url('technews_article', {'libelleCategorie': article.LIBELLECATEGORIE | lower, 'slugArticle': article.TITREARTICLE | slugify, 'idArticle': article.IDARTICLE}) }}">{{ article.TITREARTICLE }}</a></h3>
                                <div class="meta-post">
                                    <a href="#">
                                    {{ article.PRENOMAUTEUR ~ ' ' ~article.NOMAUTEUR }}
                                    </a>
                                    <em></em>
                                    <span>
                                        {{ article.DATECREATIONARTICLE }}
                                    </span>
                                </div>
                                {{ article.CONTENUARTICLE | accroche }}
                            </div>
                        </div>
                    </article>
            {% endfor %}
        </div>

        <!-- <div class="paging">
            <a href="#">Prev</a>
            <a href="#" class="current">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">Next</a>
        </div> -->
        {% else %}
        <div class="col-md-8 col-sm-12">
            <div class="box-caption">
                <span>{{ libelle }}</span>
            </div>
            <h3>
              Aucune publication pour le moment
            </h3>
        {% endif %}
    </div>

    {% include '/inc/sidebar.html' %}
</div>

{% endblock %}
