{% extends 'layout.html.twig' %}

{% block title %} Accueil {% endblock %}

{% set active = 'accueil' %}

{% block content %}
<!-- <pre> -->
  {#{{dump(app.user)}}#}
<!-- </pre> -->
<div class="row">
<!--colleft-->
<div class="col-md-8 col-sm-12">
 <div class="box-caption">
   <span>spotlight</span>
 </div>
 <!--spotlight-->
 <section class="owl-carousel owl-spotlight">

   {% for spot in spotlight %}
       <div>
         <article class="spotlight-item">
           <div class="spotlight-img">
             <img alt="{{ spot.TITREARTICLE }}" src="{{ asset('assets/images/product/' ~ spot.FEATUREDIMAGEARTICLE) }}" class="img-responsive" />
             <a href="{{ url('technews_categorie', {'libelleCategorie': spot.LIBELLECATEGORIE | lower}) }}" class="cate-tag">{{ spot.LIBELLECATEGORIE }}</a>
           </div>
           <div class="spotlight-item-caption">
             <h2 class="font-heading">
               <a href="{{ url('technews_article', {'libelleCategorie': spot.LIBELLECATEGORIE | lower, 'slugArticle': spot.TITREARTICLE | slugify, 'idArticle': spot.IDARTICLE}) }}">
                 {{ spot.TITREARTICLE }}
               </a>
             </h2>
             <div class="meta-post">
               <a href="{{ url('technews_auteur', {slugAuteur: spot.PRENOMAUTEUR | lower ~'-'~ spot.NOMAUTEUR | lower | slug, idAuteur: spot.IDAUTEUR}) }}">
                 {{ spot.PRENOMAUTEUR ~' '~ spot.NOMAUTEUR }}
               </a>
               <em></em>
               <span>
                 {{ spot.DATECREATIONARTICLE }}
               </span>
             </div>
             <p>
               {{ spot.CONTENUARTICLE | accroche}}
             </p>
           </div>
         </article>
       </div>
   {% endfor %}
 </section>

 <!--spotlight-thumbs-->
 <section class="spotlight-thumbs">
   <div class="row">

     {% for article in articles %}
         <div class="col-md-4 col-sm-4 col-xs-12">
           <div class="spotlight-item-thumb">
             <div class="spotlight-item-thumb-img">
               <a href="{{ url('technews_article', {'libelleCategorie': article.LIBELLECATEGORIE | lower, 'slugArticle': article.TITREARTICLE | slugify, 'idArticle': article.IDARTICLE}) }}">
                 <img alt="{{ article.TITREARTICLE }}" src="{{ asset('assets/images/product/' ~ article.FEATUREDIMAGEARTICLE) }}" />
               </a>
               <a href="{{ url('technews_categorie', {'libelleCategorie': article.LIBELLECATEGORIE | lower}) }}" class="cate-tag">{{ article.LIBELLECATEGORIE }}</a>
             </div>
             <h3>
               <a href="{{ url('technews_article', {'libelleCategorie': article.LIBELLECATEGORIE | lower, 'slugArticle': article.TITREARTICLE | slugify, 'idArticle': article.IDARTICLE}) }}">{{ article.TITREARTICLE }}</a>
             </h3>
             <div class="meta-post">
               <a href="{{ url('technews_auteur', {slugAuteur: article.PRENOMAUTEUR | lower ~'-'~ article.NOMAUTEUR | lower | slug, idAuteur: article.IDAUTEUR}) }}">
                 {{ article.PRENOMAUTEUR ~' '~ article.NOMAUTEUR }}
               </a>
               <em></em>
               <span>
                 {{ article.DATECREATIONARTICLE }}
               </span>
              </div>
            </div>
         </div>
     {% endfor %}

   </div>

 </section>

</div>
{# {{render(controller('TechNews\\Controller\\NewsController::sidebar'))}} #}
{% include 'inc/sidebar.html' %}
{% endblock %}
