{% extends 'layout.html.twig' %}

{% block title %}Ajouter un article{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css">
{% endblock %}

{% set active = '' %}

{% block content %}

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <form class="form-horizontal" enctype="multipart/form-data" method="POST">
        <h3>Ajouter un article:
        </h3>

        <!-- Titre -->
        <div class="form-group">
          <label for="" class="col-md-3 control-label">Titre de l'article</label>
          <div class="col-md-7">
            {{form_row(form.TITREARTICLE)}}
          </div>
        </div>

        <!-- Auteur -->
        <div class="form-group">
          <label for="" class="col-md-3 control-label">Auteur</label>
          <div class="col-md-7">
            {{form_row(form.IDAUTEUR)}}
          </div>
        </div>

        <!-- categorie -->
        <div class="form-group">
          <label for="" class="col-md-3 control-label">Catégorie</label>
          <div class="col-md-7">
            {{form_row(form.IDCATEGORIE)}}
          </div>
        </div>

        <!-- contenu -->
        <div class="form-group">
          <label for="" class="col-md-3 control-label">Contenu</label>
          <div class="col-md-7">
            {{form_row(form.CONTENUARTICLE)}}
          </div>
        </div>

        <!-- Image -->
        <div class="form-group">
          <label for="" class="col-md-3 control-label">Image</label>
          <div class="col-md-7">
            {{form_row(form.FEATUREDIMAGEARTICLE)}}
          </div>
        </div>

        <!-- options -->
        <div class="form-group">
          <label for="" class="col-md-3 control-label">Options</label>
          <div class="col-md-7">
            <div class="checkbox">
              <label>
                {{form_row(form.SPOTLIGHTARTICLE)}}
                Spotlight
              </label>
              <label>
                {{form_row(form.SPECIALARTICLE)}}
                Spécial
              </label>
            </div>
          </div>
        </div>
        {# Important pour la validation du formulaire #}
        {# Important pour la validation du formulaire #}
        {{ form_row(form._token) }}

        <div class="form-group">
          <div class="col-xs-7 col-xs-offset-3 text-center">
            <button type="submit" class="btn btn-info " value="Publier">Publier</button>
          </div>
        </div>

      </form>
    </div>
  </div>
{% endblock %}


{% block javascripts %}
<!-- pour ajouter le bloc parent -->
{{ parent() }}
<!-- // choix du protocle à utiliser (http https)-->
<script src="//cdn.ckeditor.com/4.7.2/standard/ckeditor.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>
<script type="text/javascript">
  CKEDITOR.replace('form_CONTENUARTICLE');
    $('.dropify').dropify(
      {
    messages: {
        'default': 'Glissez-d&eacute;posez un fichier ici ou cliquez',
        'replace': 'Glissez-d&eacute;posez un fichier ici ou cliquez',
        'remove':  'Supprimer',
        'error':   'Ooops, une erreur s\'est produite.'
    }
}
    );
</script>


{% endblock %}
